
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    height: 100vh;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    height: 100%;
    margin: 25px;
}
header{
    background-color: aqua;
    text-align: right;
    height: 10%;
}
aside{
    padding: 5px;
    height: 100%;
    width: 20%;
    float: left;
}
.content{
    width: 40%;
    padding: 5px;
    height: 100%;
    float: left;
}
.bio{
    width: 40%;
    padding: 5px;
    height: 100%;
    float: left;
}
#searchBar{
    width: 60%;
}
.choiceTable{
    border: 1px solid;
    border-collapse: collapse;
}
.choiceTable  td, tr {
    border: 1px solid;
    width: 100%;
}
.pictureTable{
    width: 100%;
}
.infoTable th{
    background-color: aqua;
    text-align: left;
}
.infoTable{
    width: 100%;
}
.Information th{
    background-color: aqua;
    text-align: left;
}
.Information{
   width: 100%;
}