@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    font-size: 10px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.purpleA{
    color: purple;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 900;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 7.2rem;
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    /*padding: 0 2.4rem;*/
    /*background-color: green;*/
    /*display: flex;
    margin: 30px;
    justify-content: space-between;
    border-bottom: 1px solid;
    align-content:end;*/
}
#mainSection{
    padding-right:10%;
    padding-left: 10%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
    outline: none;
    border: 1px solid black;
    color: black;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 0.3rem;
    min-width: 8rem;
    height: 4rem;
    background: transparent;
    cursor: pointer;
}
.btn.reverse {
    background: black;
    color: white;
}
.nav-header{
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
}
.nav-header a{
    font-size: 1.5rem;
}
.nav-options{
    width: 100%;
    padding-right: 3%;
    padding-left: 3%;
}
nav{
    height: 70%;
    font-size: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 5px lightblue;
    padding-bottom: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}
/*
nav a{
    font-size: 100px;
}*/
.nav-header .search-form-container{
    flex: 1;
    background: transparent;
    height: 4.8rem;
    min-width: 18rem;
    border: 1px solid black;
    border-radius: 2.4rem;
}

.nav-header .search-form-container form{
    display: flex;
    flex-direction: row-reverse;
    height: inherit;
    overflow: hidden;
}
.nav-header .search-form-container form input{
    flex: 1;
    outline: none;
    border: none;
    background-color: transparent;
}
.nav-header .search-form-container form button{
    outline:none;
    border: none;
    background: transparent;
    padding: 0 1.5rem;
}
.nav-header .nav-item{
    margin: 0 1rem;
    cursor: pointer;
}
header a{
    text-decoration: none;
    color: black;
    font-size:1rem;
    align-self: center;
}
header img{
    width: 30px;
    height: auto;
}
#headerLogo{
    width: 100px;
    height: auto;
}
#profilepic{
    width: 5rem;
    height: 5rem;
    background-color: black;
    border-radius: 50%;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;

}


header input {
    flex-grow: 1;
    border-radius: 10em;
    height: 25px;
    align-self: center;
}
header form{
    flex-grow: 1;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 10px;
}
.nav-header .search-form-container form{
    display:flex;
    flex-direction: row-reverse;
    height: inherit;
    overflow: hidden;
}

main{
    margin-top: 20px;
}

.sales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #d2cf1e;
    width: 100%;
    height: 5rem;
    font-size: 150%;
}
.sales p{
    align-self: center;
}

main{
    padding-left: 3rem;
    padding-right: 3rem;
}
.mainSection{

}
.welcomeBack{
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}
.welcomeBack div{
    align-content: center;
    line-height: 1.5;
    margin: 10px;
}
.welcomeBackText a{
    text-decoration: none;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;   
}
.mainAd{
    display: flex;
    padding: 50px;
    width: 100%;
    height: 300px;
    background-image: url(pics/mainAd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.textBox{

    padding: 10px;
    width: 40%;
    background-color: white;
    box-shadow: 5px 5px  10px 4px  #0000002f;
    font-size:large;
}
.textBox h1{
    font-size:40px;
}
.textBox button{
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
}

.advertisementSection{
    background-color: red;
}
.continueLearning{
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.continueLearning h2{
    justify-content: flex-start;
}
.continueLearning a{
    margin-left: auto;
}
.takeCourses{
    align-content: center;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 1.7rem;
}

#Getudemybusiness{
    margin-left: auto;
    border: none;
    background-color: white;
    color: black;
    height: 100%;
    padding: 5px;
    cursor: pointer;
}
#Getudemybusiness:hover{
    background-color: gray;
    color: white;
}
#dismiss{
    height: 100%;
    background-color: black;
    border-color: white;
    color: white;
    padding: 5px;
    cursor: pointer;
}
#dismiss:hover{
    color: black;
    background-color: white;
}

.recommendationSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Recommendation{
    padding-right: 2%;
    padding-left: 2%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Recommendation h2{
    font-size: 3rem;
}
.recommendationTable{
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    gap: 15px;
    display: flex;
    
}
.recommendationTableElement{
    width: 20%;
    display: flex;
    flex-direction: column;
}
.recommendationTableElement img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.recommendationTableElement img:hover{
    cursor:pointer;
}
.recommendationTableElement p, b{
    font-size: 1.5rem;
    margin-top: 5px;
}
.recommendationTableElement p:nth-last-of-type(-n+2) {
    font-weight: bold;
}
#topPick{
    margin-top: 20px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;   
}
#topPickText{
    font-size: 2rem;
    line-height: 1.5;
}
#recommendLabel{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.labelElement{
    padding: 2px;
    margin: 5px;
    align-self:center;
    justify-self: center;
    height: 4rem;
    width: 17%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    font-size: 100%;
}

.teachTheWorldOnline{
    height: 8rem;
    background-color: rgb(37, 37, 37);
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    line-height: 2;
}
.teachTheWorldOnline button{
    margin-right: 10px;
    height: 50%;
    background-color: aliceblue;
}
.topCompanies{
    display: flex;
    justify-content:space-between;
    height: 6rem;
    background-color: rgb(37, 37, 37);
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: 1.5rem;
}


.topCompanies img{
    height: 50%;
    width: auto;
}
.textbox button :hover{
    cursor: pointer;
}
#Getudemybusiness :hover{
    cursor: pointer;
}
#dismiss :hover{
    cursor: pointer;
}
#Certification{
    background-color:rgb(37, 37, 37);
    color: white;
    padding-top: 20px;
}
#certificationbyissuer{
    
}
.certificationLinks{
    display: grid;
    grid-template-columns: 25%, 25%, 25%, 25%;
    grid-template-rows: 50%, 50%;
    padding: 30px;
    text-wrap: wrap;
}
.CertificationElement{
    color: white;
    margin-top: 20px;
}
.CertificationElement a{
    text-decoration: none;
    color: white;
}
.CertificationElement ul{
    margin-top: 15px;
    list-style-type: none;
}

#No1{
    grid-column: 1;
    grid-row:1;
}
#No2{
    grid-column: 2;
    grid-row: 1;
}
#No3{
    grid-column: 3;
    grid-row: 1;
}
#No4{
    grid-column: 4;
    grid-row: 1;
}
#No5{
    grid-column: 1;
    grid-row: 2;
}
#No6{
    grid-column: 2;
    grid-row: 2;
}
#No7{
    grid-column: 3;
    grid-row: 2;
}
#No8{
    grid-column: 4;
    grid-row: 2;
}
.links{
    display: grid;
    margin-top: 3px;
    background-color: black;
    grid-template-columns: 25%, 25%, 25%,25%;
    grid-template-rows: 100%;
    color: white;
    padding: 30px;
}
#link1{
    grid-column: 1;
    grid-row: 1;
}
#link2{
    grid-column: 2;
    grid-row: 1;
}
#link3{
    grid-column: 3;
    grid-row: 1;
}
#link4{
    grid-column: 4;
    grid-row: 1;
}
.linkelement ul{
    margin-top: 15px;
    list-style-type: none;
}
.bottomOfPage{
    margin-top: 3px;
    background-color: black;
    display: grid;
    grid-template-columns: 15% 10% 55% 20%;
    justify-content: center;
    color: white;
    text-align: center;
}
.bottomOfPage img{
    grid-column: 1;
    height: 30px;
    width: auto;
}
.bottomOfPage a{
    text-decoration: none;
    color: white;
    vertical-align:middle;
}
.bottomOfPage p{
    grid-column: 2;
    vertical-align: middle;
}
#cookie{
    grid-column: 3;
}
#english{
    grid-column: 4;
}